$theme-colors: (
    'gs1': #c300ff,
    'gs2': #163bb2
);

.title-font {
    font-family: 'Staatliches', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.bg-black {
    background-color: black;
}